{% extends "base.html" %}

{% block title %}Skills{% endblock %}

{% block currentprofile %}{{user}}{% endblock %}

{% block content %}

<div class="mx-auto" style="width: 60%;">
    <h3>Current skills for user: {{name}}</h3>
    <div class="row" style="height:10px;"></div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Current Score</th>
            <th scope="col">Required Score</th>
          </tr>
        </thead>
        <tbody>
            {% for skill in skills %}
            <tr>
                <th scope="row">1</th>
                <td>{{skill.subject}}</td>
                <td>{{skill.current_level}}</td>
                <td>{{skill.required_level}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>   

{% endblock %}